.cartitems{
    margin: 100px 170px;
    margin-left:500px;
}
.cartitems hr{
    height: 3px;
    background:#e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    gap: 150px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.carticon-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-items{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 260px;
    height: 60px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 500px;
    margin-top: 15px;
    padding-left: 20px;
    height: 60px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 165px;
    height: 60px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

/* Modal Arkaplanı */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal İçeriği */
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Modal Başlık */
  .modal-content h2 {
    margin-bottom: 10px;
  }
  
  /* Modal Butonları */
  .modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  
  .login-button, .guest-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .login-button {
    background-color: #007bff;
    color: white;
  }
  
  .guest-button {
    background-color: #28a745;
    color: white;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .guest-button:hover {
    background-color: #218838;
  }
  