.forgot-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100vh;
    padding-top: 100px; 
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
}

.forgot-password-page h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.forgot-password-page p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.forgot-password-page input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.forgot-password-page button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-password-page button:hover {
    background-color: #0056b3;
}
.back-to-login{
    color: #ff1414;
}
  